body {
  background-color: #11151C;
  color: #88A2AA;
}

h1 {
  font-family: sans-serif;
}

p {
  font-family: monospace;
}

strong, em {
  color: #C9F0FF;
}

.list {
  font-size: 18px;
}

#minha-foto {
  float: left;
  height: 300px;
}

.image-container {
  height: 300px;
}