.meu-nome {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #11151C;
  color: #88A2AA;
}

p {
  font-family: monospace;
}

strong, em {
  color: #C9F0FF;
}

.list {
  font-size: 18px;
}

#minha-foto {
  float: left;
  height: 280px;
  width: auto;
  padding: 10px;
  background-color: #364156;
}

.image-container {
  height: 300px;
}

div {
  border: 2px solid green;
}