body {
  background-color: #11151C;
  color: #88A2AA;
  padding: 3%;
}

.meu-nome {
  font-family: sans-serif;
  text-align: center;
}

.descricao {
  font-family: monospace;
  position: absolute;
  top: 36%;
  right: 8%;
}

strong, em {
  color: #C9F0FF;
}

.list {
  font-size: 18px;
}

#minha-foto {
  float: left;
  height: 280px;
  width: auto;
  padding: 10px;
  background-color: #364156;
}

.image-container {
  height: 300px;
  position: relative;
}